/*CSS Reset - to wipe all the default styles*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;

}

.header-img .header {
	width: 30%;
	border-radius: 50%;
	display:inline-block;
}

.heading{
	width: 50%;
	display:inline-block;
}
.heading h1 {

	font-family: 'Chelsea Market', arial;
	display:block;
}

body{
	background-color: white;
	color: black;
  }

  .nav-header{
	margin:2% auto;
  }

nav a{
	
	background: lightgray;
	border: 1px solid white;
	
	border-radius: 10px; /* helps round the edges so it's not so "boxy"*/
	display: inline-block;
	color:white;
	text-decoration: none;
	width: 15%;
	text-align: center;
	font-family: 'Roboto Mono', arial;
	
}

.second-section{
	margin: 2% auto;
	width:90%;
	background-color: coral;
}

.second-section p{
	padding: 2%;
}

.plan{
	background-color: #FF764E;
}

.learn{
	background-color: #5ED3EB;
}

.involved{
	background-color: #FFCD69;
}

.plan:hover{
	
}

.learn:hover{

}

.involved:hover{

}
